<h4 class="padinClass">New Vehicle</h4>
<form [formGroup]="form" class="example-form">
  <mat-form-field appearance="fill">
    <mat-label>Make</mat-label>
    <mat-select (selectionChange)="onMakeChange()" [(ngModel)]="makeId" formControlName="makeId" name="makeId" >
      <mat-option *ngFor="let item of makeNModels" value="{{item.id}}">{{item.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Model</mat-label>
    <mat-select formControlName="ModelId" [(ngModel)]="ModelId" name="ModelId">
      <mat-option *ngFor="let m of models" value="{{m.id}}">{{m.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <p>Is this vehicle registered?</p>
<mat-radio-group  formControlName="isRegistered" [(ngModel)]="isRegistered" name="isRegistered">
  <mat-radio-button value="true">Yes</mat-radio-button>
  <mat-radio-button value="false">No</mat-radio-button>
</mat-radio-group> 

  <h2>Features</h2>

  <section *ngFor="let item of features"formArrayName="features" >
    <mat-checkbox (change)="onCheckboxChange($event)"
    [value]="item.id"
    >{{item.name}}</mat-checkbox>
  </section>

<h2>Contact</h2>
  
  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <input matInput placeholder="Name" formControlName="name" [(ngModel)]="name" 
      (change)="onContactChange()">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <span matPrefix>+27 &nbsp;</span>
      <input type="tel" matInput placeholder="Telephone" formControlName="phone" 
      (change)="onContactChange()"
      [(ngModel)]="phone">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field></td>
    <td> <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email" [(ngModel)]="email" 
      (change)="onContactChange()"
      [errorStateMatcher]="matcher">
    </mat-form-field></td>
  </tr></table>
 
</form>
<button mat-button class="mat-raised-button mat-primary padinClass" (click)="save()"
[disabled]="!form.valid">Save</button>
